.css-38raov-MuiButtonBase-root-MuiChip-root {
    height: 16px !important;
}
.css-s16x75-MuiAutocomplete-root .MuiAutocomplete-tag {
    margin: 3px;
    max-width: calc(100% - 6px);
    height: 20px !important;
}