.filter-cont {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    align-items: flex-end !important;
    justify-content: center !important;
    justify-items: center !important;
    background-color: #fff !important;

  }

  .refferal-select-box{
    margin-left: 310px;
  }

  .input-comapny-name{
    height: 36px !important;
    width: 200px !important;
    margin-bottom: 17px !important;
  }
  
  .css-s16x75-MuiAutocomplete-root .MuiOutlinedInput-root {
    min-height: 44px !important;
    padding: 1px !important;
}

.css-38raov-MuiButtonBase-root-MuiChip-root {
    height: 25px !important;
}

.css-s16x75-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0px !important;
}